@model WebApplication2.ViewModel.hallSeatsViewModel
@using WebApplication2.Models

<!DOCTYPE html>
<html>

<head>

    <link href="~/Content/css/RemoveMovie.css" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <h2>Hall Seats Management:</h2>


        <div id="new-movie-form">
            <div id="status" class="error"> </div>

            <form name="movieform" class="movie-form">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="img">Image:</label>
                    <input type="text" class="form-control" id="img">
                </div>

                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <input type="number" class="form-control" id="rating">
                </div>

                <input class="btn btn-sm btn-primary" type="submit" value="Save" id="save-new-movie" onClick=addMovie(movieform)>
            </form>
        </div>



        <div id="table">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Image</th>
                        <th></th>
                        <th>hall</th>
                        <th></th>
                        <th>Rows</th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>

                    @foreach (HallSeats hall in Model.halls)
                    {
                        <tr>
                            <td>
                                <img src="https://dcmp.org/images/learning_center/34/34-1.jpg" width="70" class="img-thumbnail" />
                            </td>
                            <td class="align-middle"></td>
                            <td class="align-middle">@hall.HallId</td>
                            <td class="align-middle"></td>
                            <td class="align-middle">@hall.numRows</td>

                            <td class="align-middle">
                                <form id="myForm" method="post" action="@Url.Action("ChangeHallSeats","Home",new { myHall=hall.HallId})">
                                    <input name="@hall.HallId" id="@hall.HallId" type="number" style="width:10%;" min="1">
                                    <input type="submit" style="background-color: #4CAF50; border:none;" class="btn btn-sm btn-danger" value="Change Rows">
                                </form>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
            <form id="myForm" method="post" action="@Url.Action("AdminDashboard","Home")">
                <input type="submit" style="background-color: #4CAF50; border:none;" class="btn btn-sm btn-danger" value="Back Admin Dashboard">
            </form>
        </div>
    </div>


</body>
</html>     